# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~
*.vault_password
templates/*.j2-*

# Try tyo avoid any plain-text passwords
*pwd*
*pass*
*password*
*.txt

# Exclude all binaries
*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz

#System
.molecule
*.log
*.swp
.tox
.cache
.DS_Store
*_rsa
