on: push

jobs:
  molecule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"

      - name: Test Ansible with Molecule
        uses: arillso/action.molecule@0.0.5
        with:
          command: test
          working_directory: ${{ github.repository }}
          scenario: default